/* path {
    fill: #29d129;
    stroke: #000000
}

.correct {
    fill: #000000;
    stroke: #29d129;
} */

body {
    font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
    background-color: #5cdb95;
}

header {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

h1 {
  color: rgba(5,56,107);
  text-shadow: 3px 3px rgba(5,56,107, 0.4);
  letter-spacing: 6px; 
}

h3 {
    color: #05386B;
    
}

.gametime {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}


.login {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}



input{
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
  }

  input[type="submit"]{ 
    background:rgba(197,62,126,.33) ! important; 
    color:#fff;
    position:relative;
    cursor:pointer;
  }

  input[type="button"]{ 
    background:rgba(197,62,126,.33) ! important;
    color:#fff;
    position:relative;
    cursor:pointer;
  }

    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;
        background-color: rgba(255,255,255,0.5);;
        overflow-x: hidden;
        padding-top: 75px;
        padding-left: 15px
    }
    user agent stylesheet
    div {
        display: block;
    }

    table {
        width: 175px;
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
    }


    table, td {
        border-collapse: collapse;
        color:  rgb(0,0,0, 0.6);
      }

    th {
        border-collapse: collapse;
        color: rgba(5,56,107, 0.6)
      }
 
     
  #score-keeper {
    color: rgba(5,56,107);
    }

  #easy-button {
    margin:0 auto;
    display:block;
  }
  #med-button {
    margin:0 auto;
    display:block;
  }

#hard-button {
  margin:0 auto;
  display:block;
  }